        <!-- Begin Page Content -->
        <div class="container-fluid bg-info">
            <div class="card bg-dark text-dark">
              <img src="{% static 'pymage/img/loginbackground.jpg' %}" class="card-img" alt="login_background">
              <div class="card-img-overlay">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <div class="h3 mb-0 text-white">Login Page</div>
                </div>
  
                <div class="card text-center mx-auto mb-5" style="width: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold">LogoAnyz</h5>
                    <div>{{ form.non_field_errors }}</div>
                    <form action="" method="post">
                      {% csrf_token %}
                    <div class="form-group has-feedback">
                      <label for="username"></label>
                      <!-- your icon -->
                      <input type="text" id="username" class="form-control" name="username" placeholder="Username" required="">
                  </div>
                  <div class="form-group has-feedback">
                      <label for="password"></label>
                      <!-- your icon -->
                      <input type="password" id="password" class="form-control" name="password" placeholder="Password" required="">
                      <br>
                      <input class="btn btn-primary w-100 font-weight-bold" type="submit" value="Login">
                    </form>
                    <br><br>
                    <a href="{% url 'accounts:reset_password'  %}"><button class="btn btn-primary w-100 font-weight-bold">Reset
                        Password</button>
                      </a><br><br>
                     <p class="font-weight-bold">Don't Have an Account <a href="{% url 'accounts:signup'  %}">Sign Up</a></p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->

                  <!-- Begin Page Content -->
        <div class="container-fluid bg-info">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Register Page</h1>
            </div>
  
           <div class="card text-center mx-auto" style="width: 50rem;">
              <div class="card-body">
                <h5 class="card-title font-weight-bold"><hr>LogoAnyz</h5><hr>
                <!-- Start your project here-->
                <div class="container-fluid">
                  <h3>Registration Form</h3> 
                  <div class="">
                    <form action="" method="post">
                      {% csrf_token %}
                      <!-- <div class="form-group">
                      {{ form.as_p }}
                      </div> -->
                      <div class="form-group d-sm-flex">
                      <label for="first_name">First Name: </label>
                      {{form.first_name}}
                      </div>
                      <div class="form-group d-sm-flex">
                      <label for="last_name">Last Name: </label>
                      {{form.last_name}}
                      </div>
                      <div class="form-group d-sm-flex">
                      <label for="email">Enter Email: </label>
                      {{form.email}}
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group d-sm-flex">
                      <label for="username">Enter UserName: </label>
                      {{form.username}}
                      </div>
                      <div class="form-group d-sm-flex">
                        <label for="username">Enter UserName: </label>
                        {{form.profileIMG}}
                        </div>
                      <div class="form-group d-sm-flex">
                      <label for="password1">Enter Password: </label>
                      {{form.password1}}
                      </div>
                      <div class="form-group d-sm-flex">
                      <label for="password2">Confirm Password: </label>
                      {{form.password2}}
                      </div>
                      <br>
                      <input class="btn btn-primary w-100 font-weight-bold" type="submit" value="Submit">
                    </form>
                  </div>
                </div>
                <!-- End your project here-->
  
              </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->

                  <!-- Begin Page Content -->
        <div class="container-fluid bg-info">
            <div class="card bg-dark text-dark">
              <img src="{% static 'pymage/img/RessetPass.jpg' %}" class="card-img" alt="login_background">
              <div class="card-img-overlay">
  
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800">Home Page</h1>
                </div>
                <!-- End Page Heading -->
                <div class="card text-center mx-auto my-5" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title font-weight-bold">LogoAnyz</h5>
                    <h5>Password Reset</h5>
                    <form action="" method="post">
                      {% csrf_token %}
                      {{form.as_p}}
                      <input class="btn btn-primary w-100 font-weight-bold" type="submit" value="Password Reset">
                    </form><br>
                    <p class="font-weight-bold">Don't Have an Account <a href="{% url 'accounts:signup'  %}"><Strong>Sign
                          Up</Strong></a></p>
                    <!-- <a href="#" class="btn btn-primary">Email Us</a> -->
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->