{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "pymage/partials/head.html" %}
<!-- End of Head -->

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include "pymage/partials/topbar.html" %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid bg-info">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Register Page</h1>
          </div>

         <div class="card text-center mx-auto" style="width: 50rem;">
            <div class="card-body">
              <h5 class="card-title font-weight-bold"><hr>LogoAnyz</h5><hr>
              <!-- Start your project here-->
              <div class="container-fluid">
                <h3>Registration Form</h3>
                {% if messages %}  
                   
                        {% for message in messages %}  
                        <p class="text-warning m-0"> {{message}} </p> 
                        {% endfor %}  
                  
                {% endif %} 
                <div class="">
                  <form action="" method="post">
                    {% csrf_token %}
                    <!-- <div class="form-group">
                    {{ form.as_p }}
                    </div> -->
                    <div class="form-group">
                    <label for="first_name">First Name: </label>
                    {{form.first_name}}
                    </div>
                    <div class="form-group">
                    <label for="last_name">Last Name: </label>
                    {{form.last_name}}
                    </div>
                    <div class="form-group">
                    <label for="email">Enter Email: </label>
                    {{form.email}}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                    <label for="username">Enter UserName: </label>
                    {{form.username}}
                    </div>
                    <div class="form-group">
                    <label for="password1">Enter Password: </label>
                    {{form.password1}}
                    </div>
                    <div class="form-group">
                    <label for="password2">Confirm Password: </label>
                    {{form.password2}}
                    </div>
                    <br>
                    <input class="btn btn-primary w-100 font-weight-bold" type="submit" value="Submit">
                  </form>
                </div>
              </div>
              <!-- End your project here-->

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include "pymage/partials/footer.html" %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap & JavaScript Plugins-->
  {% include "pymage/partials/plugin.html" %}

</body>

</html>






   
