{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "pymage/partials/head.html" %}
<!-- End of Head -->

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include "pymage/partials/topbar.html" %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid bg-info">
          <div class="card bg-dark text-dark">
            <img src="{% static 'pymage/img/loginbackground.jpg' %}" class="card-img" alt="login_background">
            <div class="card-img-overlay">
              <!-- Page Heading -->
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <div class="h3 mb-0 text-white">Login Page</div>
              </div>

              <div class="card text-center mx-auto mb-5" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold">LogoAnyz</h5>
                  <div>{{ form.non_field_errors }}</div>
                  <form action="" method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                      {{ form.username.errors }}
                    <div class="font-weight-bold">{{ form.username.label }} </div>
                    <div class="font-weight-bold">{{ form.username }} </div>
                  </div>
                  <br>
                  <div class="fieldWrapper">
                    {{ form.password.errors }}
                    <div class="font-weight-bold">{{ form.password.label }} </div>
                    <div class="font-weight-bold">{{ form.password }} </div>
                  </div>
                    <br>
                    <input class="btn btn-primary w-100 font-weight-bold" type="submit" value="Login">
                  </form><br>
                  <a href="{% url 'accounts:reset_password'  %}"><button class="btn btn-primary w-100 font-weight-bold">Reset
                      Password</button>
                    </a><br><br>
                   <p class="font-weight-bold">Don't Have an Account <a href="{% url 'accounts:signup'  %}">Sign Up</a></p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include "pymage/partials/footer.html" %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap & JavaScript Plugins-->
  {% include "pymage/partials/plugin.html" %}

</body>

</html>