          <div class="row">

            <div class="col-lg-6">

              <!-- Circle Buttons -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Original Image</h6>
                </div>
                <div class="card-body">
                  <div style="padding: 20px;">
                    <center>
                      {% comment %} <img src="http://127.0.0.1{{ displayFile }}" alt="Original Image" style="max-height: 100%; max-width: 100%"> {% endcomment %}
                      <img src="{{ uploaded_img_path }}" alt="Original Image" style="max-height: 100%; max-width: 100%">
                       
                    </center>
                  </div>
                  <div class="my-2"></div>
                  <a href="http://127.0.0.1:9000/{{ uploaded_img_path }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-download"></i>
                    </span>
                    <span class="text">Download Image</span>
                  </a>
                </div>
              </div>

            </div>

            <div class="col-lg-6">

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Searched Image</h6>
                </div>
                <div class="card-body">
                  <div style="padding: 20px;">
                    <center>
                      <img src="{{ k_neighbours.0 }}" alt="Searched Image" style="max-height: 100%; max-width: 100%">
                    </center>
                  </div>
                  <div class="my-2"></div>
                  <a href="http://127.0.0.1:9000/{{ k_neighbours.0 }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-download"></i>
                    </span>
                    <span class="text">Download Image</span>
                  </a>
                </div>
              </div>

            </div>
            
          </div>

          
          {% comment %} <h2>Similar Images:</h2>
          <div class="row">
          {% for score in scores %}
            <div class="col-lg-6 d-flex flex-row">
              <!-- Circle Buttons -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">{{ score.0 }}</h6>
                  <h6 class="m-0 font-weight-bold text-primary">{{ score.1.name }}</h6>
                </div>
                <div class="card-body">
                  <div style="padding: 20px;">
                    <center>
                      <img src="http://127.0.0.1{{ displayFile }}" alt="Original Image" style="max-height: 100%; max-width: 100%"> 
                      <img src="{{ score.1 }}" alt="Original Image" style="max-height: 100%; max-width: 100%">  
                    </center>
                  </div>
                  <div class="my-2"></div>
                  <a href="http://127.0.0.1:9000/{{ score.1 }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-download"></i>
                    </span>
                    <span class="text">Download Image</span>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>   {% endcomment %}
        

        <div class="card text-center shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Similar Images:</h6>
          </div>
          <div class="card-body text-center">
            {% for item1, item2 in zipped_list %}
            <figure  class="border border-success" style="float: left; padding: 30px; margin-left: 30px; margin-right: 30px; margin-bottom: 30px;">
              <img src="{{ item1 }}" height="200px" width="200px">
              {% comment %} <figcaption> {{ score.1.name }}</figcaption><br> {% endcomment %}
              <figcaption> {{ item2 }}</figcaption>
            </figure>
            {% endfor %}
          </div>
        </div>