        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          {% else %}
          <nav class="navbar navbar-expand navbar-dark bg-dark topbar static-top shadow" style="background-color: #e3f2fd;">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
          {% endif %}
          {% if user.is_authenticated %}
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <span class="mr-1 d-none d-lg-inline text-gray-600 small my-3 font-weight-bold">
              {% if user.first_name %}
              {{user.first_name}} {{user.last_name}}
              {% else %}
              {{user.username}}
              {% endif %}
             </span>
            <div class="dropdown mr-4 mt-2">
              <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'accounts:home' %}">{{user.username}}</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:home' %}">{{user.email}}</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:profileUpload'  %}">Profile Upload</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:logout'  %}">Logout</a></li>
              </ul>
            </div>
            <img class="rounded-circle shadow-4-strong mr-5" width="40px" height="40px" alt="avatar" src="{{relative_path_profile}}" />
            <a class="btn btn-success py-2 mb-3" href="{% url 'accounts:logout'  %}"><strong>Logout</a></strong>
            {% else %}
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <a class="btn btn-primary mx-3" href="{% url 'accounts:home' %}"><strong>Home</strong></a>
            <a class="btn btn-primary" href="{% url 'accounts:login'  %}"><Strong>Login </Strong></a>
          </ul>
            {% endif %}
          </ul>

          {% comment %} <span class="mr-2 d-none d-lg-inline text-gray-600 small">User Profile<i class="fa fa-heart"></i> </span> {% endcomment %}
        </nav>