        <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          {% if user.first_name %}
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small my-3 font-weight-bold">{{user.first_name}} {{user.last_name}} </span>
            <img class="rounded-circle shadow-4-strong" width="40px" height="40px" alt="avatar" src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" />
            {% else %}
            <i class="fa fa-heart"></i>
            {% endif %}
          </ul>

          {% comment %} <span class="mr-2 d-none d-lg-inline text-gray-600 small">User Profile<i class="fa fa-heart"></i> </span> {% endcomment %}

        </nav>